@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color:black;
    --main-color:#FC6C85;
}
section{
    padding: 50px 10%;

}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 4rem;
    background: var(--main-color);
}
/* header starts here */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: rgb(241, 229, 231);
}
.header.shadow{
    background: #fff;
    box-shadow: 1px 4px 14px rgba(15, 54, 55, 10%);
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}
.navbar  a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display:none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(photos/pink-armchair-white-living-room-with-copy-space_43614-794.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
    display: flex;
    align-items:center;
}
.home-text h1 {
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color); 
}
.btn{
    background: none;
    color: rgb(22, 19, 19);
    width: 240px;
    height: 80px;
    border: 1px solid #FC6C85;
    font-size: 18px;
    border-radius: 4px;
    transition: 1s;
    overflow: hidden;
    padding: 10px 14px;
}
.btn:focus{
    outline: none;
}
.btn::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .2s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.btn::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(9, 5, 5, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}
.btn:hover{
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
.btn{
    padding: 10px 14px;
    color: black;
}


/* header ends here */
/* offers */
.offers{
    padding: 10px 8% 20px;
    background-color: #f3f3f3;
}
.offer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 0,90rem;
    margin-top: 30px;
}
.offer-content .row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.offer-content .row i{
    font-size: 50px;
    color: #FC6C85;

}
.offer-content .row h3{
    margin-left: 5px;
}
.offer-content .row p{
    margin-left: 5px;
}
/* offers ends */
/* about */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.about-img img{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.about-text span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FC6C85;
}
.about-text p{
    font-size: 0.938;
    margin: 0.4rem 0 1.8rem;
}

/* about ends */

/* cart */

.cart{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.cart.active{
    display: flex;
}

.cart-content{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    width: 100%;
    padding: 20px;
    row-gap: 1rem;
}
.cart-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-box img{
    width: 100px;

}
.cart-text{
    display: grid;
}
.cart-text h3{
    font-size: 1rem;
}
.cart-text span{
    font-weight: 500;
}
.cart-box .bx{
    font-size: 20px;
    color: var(--text-color);
}
.cart-box .bx:hover{
    color: var(--main-color);
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.total h3{
    font-size: 1rem;
}
.total span{
    font-weight: 500;
}
.cart-content .btn{
    padding: 15px 24px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    width: 450px;
    height: 55px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
/* login */
.login-form{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
 }
 .login-form.active{
    display: flex;
 }


.login-form form{
    max-width: 300px;
    width: 100%;
    margin: auto;
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding: 10px;
}
.login-form form h2{
    font-size: 1.4rem;
    font-weight: 600;
}
.login-form form input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.9rem;
    padding: 14px;
    background: #f3f3f3;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
}
.login-form form input::placeholder{
    font-size: 0.9rem;
    font-weight: 400;
}
.login-form form a{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: right;
}
.login-form form a:hover{
    color: var(--main-color);
}






/* cart ends */

/* products */

.heading1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.heading1 h2{
    font-size: 1.4rem;
}
.heading1 a{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.heading1 a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.products-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.boxp{
    padding: 10px;
    background: #f1f1f1;
    border-radius: 0.5rem;
    display: grid;
    row-gap: 0.5rem;
}
.boxp img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.boxp-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 0.5rem;
}
.container{
    max-width: 100%;
    margin: auto;
    width: 100%;
} 

.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}
.title-price span{
    font-weight: 500;
}
.boxp-text .bx{
    padding: 10px;
    font-size: 20px;
    background: var(--text-color);
    color: white;
    border-radius: 5rem;
}
.boxp-text:hover{
    background:var(--main-color) ;
}



/* product ends  */

/* partnership */
.heading span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FC6C85;
    font-size: 0.938;
    margin: 0.4rem 0 1.8rem;
    text-align: center;
    align-items: center;
}
.heading{
    text-align: center;
}
    
.partnership{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}
.partnership img{
    width: 100px;
    filter: grayscale(1);
}
.partnership img:hover {
    width: 100px;
    filter: grayscale(0);
}

/* partnership ends */
/* contact */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(photos/p11.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news h2{
    color: #fff;
}
.news-box{
    margin-top: 2rem;
}
.news-box .input{
    width: 260px;
    height: 50px;
    border: none;
    outline: none;
    background: #fff;
    padding: 15px;
}
.news-box .btn{
 
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
/* contact ends */
/* footer */

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, auto));
    grid-area: 1rem;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box span{
    color: #FC6C85;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px; 
}

.footer-box h3{
    font-weight: 500;
    margin-bottom: 10px;
}


.footer-box li a{
    color: var(--text-color);
}

.footer-box li a:hover{
    color: var(--text-color);
}

.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size:24px;
    margin-left: 10px;
    color: var(--text-color);
}
.social a:hover{
    color: var(--main-color);
}

.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info span{
    color: var(--text-color);
}

.copyright{
    padding: 20px;
    text-align: center;
}
   
@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    
}
@media (max-width:881px){
    .home-text h1 {
        font-size: 2rem;
    }
    .shop-container,
    .new-container{
        grid-template-columns: repeat(auto-fit, minmax(218, auto));
    }
}
@media (max-width:768px){
    .header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a:hover{
        color: #fff;
        background: var(--main-color);
    }
    .about{ grid-template-columns: 1fr;
        text-align: center;}
    .about-img{
        padding-top: 1rem;
        order: 2;} 
}
@media(max-width:491px){
    .home-text h1{
        .shop-container,
        .new-container{
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        }
    }
    .box .box-img{
        height: 300px;
    }
    .news-box .input{
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
     
}


/* .box .box-img products */